<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <settings>
      <setting name="Sitecore.Services.RouteMapper" value="Sitecore.Support.Services.Infrastructure.Web.Http.DefaultRouteMapper, Sitecore.Support.297294"/>
    </settings>

    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="Support.ItemServiceController">
              Sitecore.Support.Services.Infrastructure.Sitecore.Controllers.ItemServiceController, Sitecore.Support.297294
            </allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>