<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <settings>
      <setting name="Sitecore.Services.RouteMapper" value="Sitecore.Support.Services.Infrastructure.Web.Http.DefaultRouteMapper, Sitecore.Support.297294"/>
      <!--
      If true, default facets: TemplateName, Content, CreatedBy, Language, will always be added to search results for ItemService serch requests
      If false, these templates will be omitted and only the facet specified in "facet" query string parameter will be used
      -->
      <setting name="Sitecore.Support.Services.Search.UseDefaultFacets" value="false"></setting>
      <!--
      When true, facet results: either default one, or the one from "facet" param will be added to API call response
      When false, facets in JSON response will always be empty, and results will only be filtered by facet specified in query string.
      
      Use this setting to reduce response size
      -->
      <setting name="Sitecore.Support.Services.Search.AlwaysOutputFacets" value="true"></setting>
    </settings>

    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="Support.ItemServiceController">
              Sitecore.Support.Services.Infrastructure.Sitecore.Controllers.ItemServiceController, Sitecore.Support.297294
            </allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>